<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@200&family=Raleway:ital,wght@0,100;1,100&family=Rubik:ital,wght@0,300;0,400;1,400&display=swap');
</style>

main {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:auto;
	font-size: 15px;
  font-family: 'Rubik', sans-serif;
  color:white;
}

.header {
  padding:1px;
  text-align: center;
  background: #222E50;
  color: white;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}


main section h3 .header{
  width:285;
  padding:1px;
  text-align: left;
  background-color:#222E50;
  color: white;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;

}
main section h4 .header{
  width:285;
  padding:1px;
  text-align: left;
  background-color:#222E50;
  color: white;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}
main section h5 .header{
  width:285;
  padding:1px;
  text-align: left;
  background-color:#222E50;
  color: white;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}
main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

p {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;

}

.main-grid {
    display:grid;
    grid-template-columns:3;
    gap: 1em;
    justify-items:left;
  }



  /*Small view*/
@media screen and (min-width:300){
  .main-grid{
    grid-template-columns:1fr
  }
}

  /* Medium view*/
  @media screen and (min-width:540px){
    .main-grid{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /*Large view*/
  @media screen and (min-width:800px){
    .main-grid{
      grid-template-columns:1fr 1fr 1fr;
    }
  }

